<launch>

  <arg name="pi/2"  value="1.57079632679"/>
  <arg name="pi"    value="3.14159265359"/> 
  <arg name="pi/4"  value="0.78539816339"/>
  <arg name="theta" value="0.26179938779"/> 

  <arg name="rotate_1" value="0 1.38 0.45 $(arg pi/2) -$(arg pi/2) 0" />
  <arg name="rotate_2" value="0 0 0 0 0 $(arg theta)" />

  <!-- broadcasting the robot transforms -->
  <node pkg="tf" type="static_transform_publisher" name="robot_tf_publisher"
        args="$(arg rotate_1) kinect2_link_1 base_link 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="robot_tf_publisher_1"
        args="$(arg rotate_2) kinect2_link kinect2_link_1 100" />
    
   <!--<node pkg="rviz" type="rviz" name="rviz" /> -->
  
</launch>
